<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rekeningpagina</title>
    <meta name="author" content="Wendy Ellens">
</head>
<body th:object="${rekening}">
<h1>Transactieoverzicht</h1>
<h2>IBAN: <span th:text="*{IBAN}"></span>, ten name van <span th:text="*{tenaamstelling}"></span></h2>
<p th:text="${#temporals.format(nu, 'dd-MM-yyyy, HH:mm')}"></p>
<h2>Saldo: <span th:text="*{#numbers.formatDecimal(saldo, 1, 2, 'COMMA')}"></span> euro</h2>
<p th:if="*{getTransacties().isEmpty()}">Er zijn geen transacties om weer te geven</p>
<table th:unless="*{getTransacties().isEmpty()}">
    <tr>Laatste bij- en afschrijvingen</tr>
    <tr>
        <th>Datum</th>
        <th>+/-</th>
        <th>Bedrag</th>
        <th>Omschrijving</th>
        <th>Tegenrekening</th>
    </tr>
    <tr th:each="transactie : ${transacties}">
        <td th:text="${#temporals.format(transactie.datum, 'dd-MM-yyyy')}"></td>
        <td th:text="${transactie.bijschrijving} ? '+' : '-'"></td>
        <td th:text="${#numbers.formatDecimal(transactie.bedrag, 1, 2, 'COMMA')}"></td>
        <td th:text="${transactie.omschrijving}"></td>
        <td th:text="${transactie.tegenRekening.IBAN}"></td>
    </tr>
</table>
<p>Klik <a href="/overboeking">hier</a> om een bedrag over te boeken</p>
</body>
</html>
